@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

:root {
  --off-white: rgb(230, 230, 230);
  --off-black: rgb(30, 30, 30);
  --selected-color: rgb(39, 113, 186);
  --valid-color: rgb(53, 126, 26);
  --stopover-color: rgb(180, 160, 50);
  --square-size: 70px;
  font-family: 'Comfortaa-Bold';
}

.white-square {
  background-color: var(--off-white);
  width: var(--square-size);
  height: var(--square-size);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  user-select: none;
}

.black-square {
  background-color: var(--off-black);
  width: var(--square-size);
  height: var(--square-size);
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  user-select: none;
}

.turn-indicator-w {
  margin: 30px auto;
  width: 300px;
  height: 100px;
  outline: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 5px var(--off-black) inset;
  background-color: var(--off-white);
  border: 1px solid var(--off-black);

  display: flex;
  color: var(--off-black);
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.turn-indicator-b {
  margin: 30px auto;
  width: 300px;
  height: 100px;
  outline: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 5px var(--off-white) inset;
  background-color: var(--off-black);
  border: 1px solid var(--off-black);

  display: flex;
  color: var(--off-white);
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.checkers-outer-container {
  display: flex;
  justify-content: center;
}

.checkers-inner-container {
  text-align: center;
}

.checkers-div h1 {
  margin: 0;
  padding: 0;
}

.checkers-piece {
  padding: 5px;
  height: 60px;
  width: auto;
}

.selected-square {
  background-color: var(--selected-color);
}

.valid-move-square {
  background-color: var(--valid-color);
}

.stopover-square {
  background-color: var(--stopover-color);
}

.selected-square > img {
  -webkit-filter: drop-shadow(1px 1px 0 white)
                drop-shadow(-1px 1px 0 white)
                drop-shadow(1px -1px 0 white)
                drop-shadow(-1px -1px 0 white);
filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
}
